{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4],
        "semi": [2, "always"],
        "no-console": 0,
        "comma-dangle": [2, "never"],
        "max-len": 0,
        "react/jsx-first-prop-new-line": 0,
        "space-before-function-paren": [2, "never"],
        "object-curly-spacing": [2, "never"],
        "no-unused-expressions": [
            0,
            {
                "allowShortCircuit": true,
                "allowTernary": true
            }
        ],
        "space-before-blocks": [1, {
            "functions": "never",
            "keywords": "never",
            "classes": "always"
        }],
        "keyword-spacing": [1, {
            "overrides": {
                "if": { "before": false, "after": false },
                "for": { "before": false, "after": false },
                "while": { "before": false, "after": false },
                "classes": { "before": true, "after": true }
            }
        }],
        "no-else-return": [0, "never"],
        "arrow-body-style": [0, "never"],
        "func-names": 0,
        "prefer-const": 0,
        "no-extend-native": 0,
        "no-param-reassign": 0,
        "no-restricted-syntax": 0,
        "no-eval": 0,
        "react/jsx-no-bind": 0,
        "no-unused-vars": [2, { "ignoreRestSiblings": true }],
        "no-underscore-dangle": 0,
        "global-require": 0
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    }
}